[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
requests = "*"
akeyless = {git = "https://github.com/akeylesslabs/akeyless-python.git"}
akeyless-cloud-id = "*"
dateparser = "*"

[dev-packages]

[requires]
python_version = "3.8"
